
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
   @model HaberPortali.Data.Model.Kategori
}
@*//15.11*@
<div class="container-fluid">
    <!-- Basic form -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    
                    <form role="form">
                        <div class="form-group">
                            <label for="KategoriAdi">Üst Kategori </label>
                            @Html.DropDownListFor(model => model.KategoriAdi,new SelectList(ViewBag.Kategori,"ID","KategoriAdi"),("Seciniz"),new { @class = "form-control",id="ParentID"}) 
                        </div>
                        <div class="form-group">
                            <label for="KategoriAdi">Kategori Adı</label>
                            <input type="email" class="form-control" id="kategoriAdi" placeholder="Kategori Adı">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Kategori URL</label>
                            <input type="text" class="form-control" id="kategoriURL" placeholder="URL">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked id="kategoriAktif"> Aktif Mi
                            </label>
                        </div>
                        <a href="#" class="btn btn-default" onclick="KategoriEkle();">Kaydet</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic form -->

</div>
<script src="~/Scripts/Global.js"></script>